@model IEnumerable<TaskManagerTLA.Models.TModel>

@{
    ViewData["Title"] = "Фонова сторінка";
}

<div class="description">
    <h1>Здрастуйте!</h1>
    <hr />
    <p class="lead">Вас вітає додаток, який дає змогу формувати завдання з конкретними термінами виконання, а також вносити звітність по конкретним завданням.</p>

</div>

<div class="jumbotron">
    <h3>
        @ViewBag.Info
    </h3>
</div>
