

@{
    ViewData["Title"] = "Фонова сторінка";
}

<div class="description">
    <h1>Здрастуйте! @ViewBag.UserName</h1>
    <hr />
    <p class="lead">Вас вітає додаток, який дає змогу формувати завдання з конкретними термінами виконання, а також вносити звітність по конкретним завданням.</p>

</div>

<div class="jumbotron">
    @ViewBag.Info

    @if (SignInManager.IsSignedIn(User))
    {
        var roles = (await UserManager.GetRolesAsync(await UserManager.FindByNameAsync(User.Identity.Name)));


        if (roles.Contains(UserRoles.Admin.ToString()))
        {
            <h3>
                Ви авторизувались як Адміністратор. Для вас доступний весь функціонал додатка.
            </h3>
        }
        else if (roles.Contains(UserRoles.Manager.ToString()))
        {
            <h3>
                Ви авторизувались як Менеджер. Для вас доступний функціонал перегляду та редагування задач.
            </h3>
        }
        else if (roles.Contains(UserRoles.Developer.ToString()))
        {
            <h3>
                Ви авторизувались як Виконавець. Для вас доступні тільки ваші задачі.
            </h3>
        }
    }
    else
    {
        <h3>
            На данний момент ви не авторизовані. Виконайте вхід або реєстрацію.
        </h3>
    }
</div>
