@model TaskManagerTLA.Models.EditActualTaskViewModel

@{
    ViewData["Title"] = "Додати Зміни";
    

}

<h2>Додати зміни до задачі</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPersonalTask">
            @Html.HiddenFor(model => model.ActualTaskId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActTaskLeigth" class="control-label"></label>
                <input asp-for="ActTaskLeigth" class="form-control" />
                <span asp-validation-for="ActTaskLeigth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зафіксувати зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowPersonalTask">Повернутись до задач</a>
</div>

