@model TaskManagerTLA.Models.EditAssignedTaskViewModel

@{ ViewData["Title"] = "Додати Зміни";}

<h2>Додати зміни до задачі @ViewBag.TaskName</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAssignedTask">
            @Html.HiddenFor(model => model.GlobalTaskId)
            @Html.HiddenFor(model => model.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpentHours" class="control-label"></label>
                <input asp-for="SpentHours" class="form-control" />
                <span asp-validation-for="SpentHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зафіксувати зміни" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAssignedTaskCurrentUser">Повернутись до задач</a>
</div>

